{% extends "base.html" %}

{% block main %}

<!-- Modal -->
<div class="modal fade colorblack" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rezultat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Data entered:</h5>
                <div>{{data.a1}}: <span id="aa1"></span></div>
                <div>{{data.a2}}: <span id="aa2"></span></div>
                <div>{{data.a3}}: <span id="aa3"></span></div>
                <div>{{data.a4}}: <span id="aa4"></span></div>
                <div>{{data.a5}}: <span id="aa5"></span></div>
                <div>{{data.a6}}: <span id="aa6"></span></div>
                <div>{{data.a7}}: <span id="aa7"></span></div>

                <h5 class="pt-3">Result:</h5>
                <div id="prediction"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                
                
            </div>

        </div>
    </div>
</div>




<div class="container pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            Loaded dataset:

            <b>{{data.model_name}}</b> </br>
            <h3>Enter data:</h3> </br>
            
            <form action="" id="post-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="a1">{{data.a1}}</label>
                    <input type="number" step="0.1" class="form-control" id="a1" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="a2">{{data.a2}}</label>
                    <input type="number" step="0.1" class="form-control" id="a2" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="a3">{{data.a3}}</label>
                    <input type="number" step="0.1" class="form-control" id="a3" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="a4">{{data.a4}}</label>
                    <input type="number" step="0.1" class="form-control" id="a4" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="a5">{{data.a5}}</label>
                    <input type="number" step="0.1" class="form-control" id="a5" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="a6">{{data.a6}}</label>
                    <input type="number" step="0.1" class="form-control" id="a6" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="a7">{{data.a7}}</label>
                    <input type="number" step="0.1" class="form-control" id="a7" placeholder="" required>
                </div>


                <button type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >Submit</button>
                <button type="reset" value="Clear" class="btn btn-primary">Clear</button>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).on('submit', '#post-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "predict:args7_chances" %}',
            data:{
                a1:$('#a1').val(),
                a2:$('#a2').val(),
                a3:$('#a3').val(),
                a4:$('#a4').val(),
                a5:$('#a5').val(),
                a6:$('#a6').val(),
                a7:$('#a7').val(),

                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success:function(json) {
                document.forms["post-form"];
                document.getElementById("prediction").innerHTML = json['result']
                document.getElementById("aa1").innerHTML = json['a1']
                document.getElementById("aa2").innerHTML = json['a2']
                document.getElementById("aa3").innerHTML = json['a3']
                document.getElementById("aa4").innerHTML = json['a4']
                document.getElementById("aa5").innerHTML = json['a5']
                document.getElementById("aa6").innerHTML = json['a6']
                document.getElementById("aa7").innerHTML = json['a7']

            },
            error : function(xhr,errmsg,err) {

            }
        });
    })
</script>


{% endblock %}

